#start, #quiz, #end {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
    margin: 100px 300px;
    padding: 100px 0px;
}

#high-scores-div {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
    margin: 100px 300px;
    padding: 100px 0px;
}

h1{
    text-transform: uppercase;
    font-family: monospace;
}

#start-button {
    background-color: lightcoral;
    color:whitesmoke;
    text-transform: uppercase;
    padding: 30px;
}

#quiz {
    display: none;
}

#end {
    display: none;
}

#question-text {
    font-size: 24px;
    font-weight: bold;
}

.item {
    background-color: teal;
    color: white;
    padding: 10px 30px;
    margin: 20px;
}

#next-button {
    background-color: lightcoral;
    color:whitesmoke;
    text-transform: uppercase;
    padding: 10px;
}

#score {
    text-transform: uppercase;
    font-family: monospace;
    font-size: 24px;
}

#save-score-button {
    background-color: lightcoral;
    color:whitesmoke;
    text-transform: uppercase;
    padding: 10px;
}

#high-scores {
    background-color: rgb(128, 240, 128);
    color:whitesmoke;
    text-transform: uppercase;
    padding: 10px;
}

#initials-area, #inputgroup, #initials {
    justify-content: center;
    margin: 10px;
}

#high-score-div{
    display: none;
}